$breakpoints: (
  xs: 576px,
  sm: 768px,
  md: 992px,
  lg: 1200px,
  xl: 1600px,
);

// @include respond-above(sm) {}
@mixin respond-above($breakpoint) {
  // If the breakpoint exists in the map.
  @if map-has-key($breakpoints, $breakpoint) {
    // Get the breakpoint value.
    $breakpoint-value: map-get($breakpoints, $breakpoint);

    // Write the media query.
    @media (min-width: $breakpoint-value) {
      @content;
    }

    // If the breakpoint doesn't exist in the map.
  } @else {
    // Log a warning.
    @warn 'Invalid breakpoint: #{$breakpoint}.';
  }
}

//
//  RESPOND BELOW
//––––––––––––––––––––––––––––––––––––––––––––––––––

// @include respond-below(sm) {}
@mixin respond-below($breakpoint) {
  // If the breakpoint exists in the map.
  @if map-has-key($breakpoints, $breakpoint) {
    // Get the breakpoint value.
    $breakpoint-value: map-get($breakpoints, $breakpoint);

    // Write the media query.
    @media (max-width: ($breakpoint-value - 1)) {
      @content;
    }

    // If the breakpoint doesn't exist in the map.
  } @else {
    // Log a warning.
    @warn 'Invalid breakpoint: #{$breakpoint}.';
  }
}

//
//  RESPOND BETWEEN
//––––––––––––––––––––––––––––––––––––––––––––––––––

// @include respond-between(sm, md) {}
@mixin respond-between($lower, $upper) {
  // If both the lower and upper breakpoints exist in the map.
  @if map-has-key($breakpoints, $lower) and map-has-key($breakpoints, $upper) {
    // Get the lower and upper breakpoints.
    $lower-breakpoint: map-get($breakpoints, $lower);
    $upper-breakpoint: map-get($breakpoints, $upper);

    // Write the media query.
    @media (min-width: $lower-breakpoint) and (max-width: ($upper-breakpoint - 1)) {
      @content;
    }

    // If one or both of the breakpoints don't exist.
  } @else {
    // If lower breakpoint is invalid.
    @if (map-has-key($breakpoints, $lower) == false) {
      // Log a warning.
      @warn 'Your lower breakpoint was invalid: #{$lower}.';
    }

    // If upper breakpoint is invalid.
    @if (map-has-key($breakpoints, $upper) == false) {
      // Log a warning.
      @warn 'Your upper breakpoint was invalid: #{$upper}.';
    }
  }
}

.plan {
  background-position: 100% -10%;
  background-size: 20%;
  background-repeat: no-repeat;
  padding: 60px 0;
  background-image: url("../../assets/images/plans-shape.svg");
}

.plans {
  display: flex;
  justify-content: center;
  gap: 20px;
  direction: ltr;
  margin: 3% 0;
  flex-wrap: wrap;

  @include respond-below(md) {
    flex-direction: column;
    align-items: center;
  }

  @include respond-below(sm) {
    flex-direction: column;
    align-items: center;
  }

  * {
    margin: 0;
    padding: 0;
  }

  &__card {
    text-align: left;
    min-height: 100%;
    width: 25%;
    min-width: 25%;
    min-height: 70vh;
    background: #fff;
    color: #2f354d !important;
    border-radius: 16px;
    border: 2px solid #ff280030;
    padding: 32px;
    display: flex;
    flex-direction: column;

    @include respond-below(md) {
      width: 70%;
      min-width: 70%;
    }

    @include respond-below(md) {
      width: 90%;
      min-width: 90%;
    }

    &--primary-title {
      font-size: 1.7rem;
      text-transform: none;
      font-weight: 600;
    }

    &--second-title {
      font-size: 1.8rem;
      text-transform: none;
      font-weight: 500;
      margin-top: 24px;
      .price__per {
        font-size: 1rem;
      }
    }

    &--desc {
      font-size: 1rem;
      text-transform: none;
      margin-top: 14px;
      padding: 0;
    }

    &--btn {
      border: 1px solid #7a7d8d;
      color: #7a7d8d;
      background-color: #fff;
      outline: none;
      padding: 8px;
      border-radius: 8px;
      width: 100%;
      margin-top: 32px;
      font-weight: 500;
    }

    &--list {
      margin-top: 16px;
      list-style: none;
      flex-grow: 1;
      &_item {
        padding: 4px 0;
        display: flex;
        align-items: flex-start;
        .icon {
          margin: 8px;
        }
        small {
          font-size: 1rem;
        }
      }
    }

    &--footer {
      margin-top: 16px;
      list-style: none;
      padding-top: 16px;
      margin-top: 32px;
      border-top: 1px solid #2f354d;
    }

    &.active {
      background: #ff2800;
      color: #fff !important;
      .plans__card--btn {
        border-color: #fff;
        color: #ff2800;
      }

      .plans__card--footer {
        border-top: 1px solid #fff;
      }
    }
  }
}
.carousel-dark .carousel-indicators [aria-current] {
  background-color: #ff2800 !important;
  z-index: 1;
}
