/* Error: Undefined mixin.
 *    ,
 * 13 | /   @include respond-below(md) {
 * 14 | |     background-size: 80%;
 * 15 | |     min-height: 65vh;
 * 16 | |     padding: 10px 20px 0;
 * 17 | |     background-position: bottom;
 * 18 | |     background-image: url(../../assets/images/report/bg_mobile.svg);
 * 19 | |     justify-content: flex-start;
 * 20 | \   }
 *    '
 *   sections\report\report-style.scss 13:3  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a    \2577 \a 13 \2502  \250c    @include respond-below(md) {\a 14 \2502  \2502      background-size: 80%;\a 15 \2502  \2502      min-height: 65vh;\a 16 \2502  \2502      padding: 10px 20px 0;\a 17 \2502  \2502      background-position: bottom;\a 18 \2502  \2502      background-image: url(../../assets/images/report/bg_mobile.svg);\a 19 \2502  \2502      justify-content: flex-start;\a 20 \2502  \2514    }\a    \2575 \a   sections\\report\\report-style.scss 13:3  root stylesheet";
}
