@import "../../assets/css/partials/global";
@import "../../assets/css/partials/_variables.scss";

.goals {
  font-family: "Cairo";
  width: 100%;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 100px;
  background-image: url(../../assets/images/goals/bg_web.svg);
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  @include respond-below(md) {
    min-height: 70vh;
    padding: 10px 20px 0;
    background-size: 100%;
    background-position: bottom;
    background-image: url(../../assets/images/goals/bg_mobile.svg);
    justify-content: flex-start;
  }
}

.goals__icons {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  @include respond-below(md) {
    margin-top: 24px;
    gap: 5px;
    justify-content: center;
    img {
      max-height: 25px;
    }
    margin-bottom: 10px;
  }
}

.goals_title {
  font-family: "Cairo";
  font-style: normal;
  font-weight: 700;
  font-size: 2.2rem;
  color: #2f354d;
  margin-bottom: 2rem;
  text-transform: none;
  position: relative;

  &:after {
    content: "";
    border-radius: 4px;
    position: absolute;
    width: 30px;
    border: 2px solid #ff2800;
    height: 0;
    bottom: -10px;
    left: 0%;
    @include respond-below(md) {
      left: 45%;
    }
  }
  @include respond-below(md) {
    font-size: 1.8rem;
    text-align: center;
  }
}

.goals_desc {
  width: 40%;

  @include respond-below(md) {
    width: 100%;
    text-align: center;
  }
}
