*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
  position: relative;
  min-height: 100vh;
  direction: ltr;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

body {
  font-family: "Cairo", sans-serif;
  font-weight: normal;
}
body::-webkit-scrollbar-track, body *::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #f5f5f5;
}
body::-webkit-scrollbar, body *::-webkit-scrollbar {
  width: 6px;
  background-color: #f5f5f5;
}
body::-webkit-scrollbar-thumb, body *::-webkit-scrollbar-thumb {
  background-color: #fff;
}

@media only screen and (max-width : 1440px) {
  :root {
    font-size: 1rem;
  }
}
@media only screen and (max-width : 768px) {
  :root {
    font-size: 0.9rem;
  }
}
.text-yellow {
  color: #2F354D;
}

.text-white {
  color: #fff;
}

.col-gap-1 {
  column-gap: 10px;
}

.col-gap-2 {
  column-gap: 20px;
}

.col-gap-3 {
  column-gap: 30px;
}

.orange-shadow {
  box-shadow: 30px 30px 0 0 #d76142;
}

.dir-rtl {
  direction: rtl !important;
}

.dir-ltr {
  direction: ltr !important;
}

#find {
  width: 100%;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  background-image: url(../../assets/images/find/find_img.svg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 1rem;
  padding: 50px 100px;
}
@media (max-width: 768px) and (orientation: portrait) {
  #find {
    padding: 0 20px;
    background: #fff;
  }
}

.find__content {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.find__content .find__card {
  min-width: 30%;
}
@media (max-width: 991px) {
  .find__content {
    gap: 0;
    flex-direction: column;
  }
}

.get__start {
  padding: 12px 24px;
  text-align: center;
  width: 172px;
  background: #ff2800;
  border-radius: 7px;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  margin: 20px 0;
  display: block;
  margin: auto;
}
@media (max-width: 991px) {
  .get__start {
    width: 100%;
  }
}

.knowledge {
  width: 60%;
  font-size: 14px;
}
@media (max-width: 768px) and (orientation: portrait) {
  .knowledge {
    width: 90%;
  }
}

.col_parent {
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid #f3f4fe;
  padding: 40px;
  margin-bottom: 1rem;
  min-height: 55vh;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
@media (max-width: 991px) {
  .col_parent {
    padding: 20px;
    min-height: 48vh;
    align-items: center;
    text-align: center;
  }
}

.txt_head {
  font-family: "Cairo";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
  color: #2F354D;
  margin-top: 1rem;
}

.txt_subHead {
  font-family: "Cairo";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140.2%;
  color: #2F354D;
  letter-spacing: 0.3px;
}

@media (max-width: 768px) and (orientation: portrait) {
  .landing__title {
    width: 100%;
    font-size: 2rem !important;
  }
  .landing__title:after {
    left: 46% !important;
  }
}

/*# sourceMappingURL=find-style.css.map */
