@import "../../assets/css/partials/global";
@import "../../assets/css/partials/_variables.scss";

#find {
  width: 100%;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  background-image: url(../../assets/images/find/find_img.svg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 1rem;
  padding: 50px 100px;
  @media (max-width: 768px) and (orientation: portrait) {
    padding: 0 20px;
    background: $color-white;
  }
}

.find__content {
  display: flex;
  justify-content: center;
  gap: 20px;
  .find__card {
    min-width: 30%;
  }

  @include respond-below(md) {
    gap: 0;
    flex-direction: column;
  }
}

.get__start {
  padding: 12px 24px;
  text-align: center;
  width: 172px;
  background: #ff2800;
  border-radius: 7px;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  margin: 20px 0;
  display: block;
  margin: auto;
  @include respond-below(md) {
    width: 100%;
  }
}

.knowledge {
  width: 60%;
  font-size: 14px;
  @media (max-width: 768px) and (orientation: portrait) {
    width: 90%;
  }
}

// .find_card {
//   min-height: 60vh;
// }

.col_parent {
  background-color: $color-white;
  border-radius: 10px;
  border: 1px solid #f3f4fe;
  padding: 40px;
  margin-bottom: 1rem;
  min-height: 55vh;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  @include respond-below(md) {
    padding: 20px;
    min-height: 48vh;
    align-items: center;
    text-align: center;
  }
}
.txt_head {
  font-family: "Cairo";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
  color: $font-color;
  margin-top: 1rem;
}

.txt_subHead {
  font-family: "Cairo";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140.2%;
  color: $font-color;
  letter-spacing: 0.3px;
}

@media (max-width: 768px) and (orientation: portrait) {
  .landing__title {
    width: 100%;
    font-size: 2rem !important;
  }
  .landing__title:after {
    left: 46% !important;
  }
}
