@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Poppins:wght@500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;500;600;700&display=swap");
*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
  position: relative;
  min-height: 100vh;
  direction: ltr;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

body {
  font-family: "Cairo", sans-serif;
  font-weight: normal;
}
body::-webkit-scrollbar-track, body *::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #f5f5f5;
}
body::-webkit-scrollbar, body *::-webkit-scrollbar {
  width: 6px;
  background-color: #f5f5f5;
}
body::-webkit-scrollbar-thumb, body *::-webkit-scrollbar-thumb {
  background-color: #fff;
}

@media only screen and (max-width : 1440px) {
  :root {
    font-size: 1rem;
  }
}
@media only screen and (max-width : 768px) {
  :root {
    font-size: 0.9rem;
  }
}
.text-yellow {
  color: #2F354D;
}

.text-white {
  color: #fff;
}

.col-gap-1 {
  column-gap: 10px;
}

.col-gap-2 {
  column-gap: 20px;
}

.col-gap-3 {
  column-gap: 30px;
}

.orange-shadow {
  box-shadow: 30px 30px 0 0 #d76142;
}

.dir-rtl {
  direction: rtl !important;
}

.dir-ltr {
  direction: ltr !important;
}

.nav__section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 50px;
  padding: 25px 100px;
  position: fixed;
  width: 100%;
  background-color: #fff;
  z-index: 100;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.nav__section--list {
  display: flex;
  align-items: center;
}
.nav__section_sidebar {
  display: none;
}
.nav__section--item {
  color: #2f354d;
  font-weight: 600;
}
.nav__section--item a.active {
  position: relative;
  color: #ff2800;
}
.nav__section--item a.active::after {
  content: "";
  border-radius: 4px;
  position: absolute;
  width: 30px;
  border: 2px solid #ff2800;
  height: 0;
  bottom: -10px;
  left: 16px;
}
.nav__section--item .get__start {
  padding: 8px 24px;
  text-align: center;
  width: 112px;
  height: 40px;
  line-height: 20px;
  background: #ff2800;
  border-radius: 7px;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}
.nav__section--item .nav__language {
  border: 1px solid #ff2800;
  margin: 0 0 0 10px;
  padding: 4px 8px;
  border-radius: 7px;
  color: #2f354d;
}
.nav__section--item a {
  color: #2f354d;
}
.nav__section .menu__icon {
  display: none;
}
@media (max-width: 991px) {
  .nav__section {
    z-index: 10;
    justify-content: center;
    position: fixed;
    background-color: #fff;
    width: 100%;
  }
  .nav__section--list {
    display: none;
  }
  .nav__section .menu__icon {
    display: block;
    position: absolute;
    right: 20px;
    top: 35%;
    display: flex;
    gap: 6px;
    flex-direction: column;
  }
  .nav__section .menu__icon span {
    border: 2px solid #2f354d;
    width: 30px;
    border-radius: 4px;
    background-color: #2f354d;
    height: 1px;
  }
  .nav__section_sidebar {
    background-color: rgba(56, 56, 56, 0.1882352941);
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    right: 100vw;
    z-index: 10;
    transition: all 0.2s ease-in-out;
    display: flex;
  }
  .nav__section_sidebar.active {
    justify-content: flex-end;
    right: 0;
  }
  .nav__section_sidebar.active .modal {
    margin-left: 30vw;
  }
  .nav__section_sidebar .modal {
    transition: all 0.1s ease-in-out;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    width: 70vw;
    right: 0;
    margin-left: 100vw;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }
  .nav__section_sidebar .modal .logo {
    padding: 40px 25px 20px;
  }
  .nav__section_sidebar .modal--item {
    padding: 16px 0;
    margin: 0 16px;
    color: #2f354d;
    font-weight: 600;
    border-bottom: 1px solid #c9c9c9;
  }
  .nav__section_sidebar .modal--item a {
    color: #2f354d;
  }
  .nav__section_sidebar .modal--item a:hover {
    color: #ff2800;
  }
  .nav__section_sidebar .modal--item .nav-link.active {
    position: relative;
    color: #ff2800;
  }
  .nav__section_sidebar .modal .languges {
    padding: 12px 0;
    margin: 16px;
  }
  .nav__section_sidebar .modal .languges .lang__btn {
    padding: 8px 24px;
    text-align: center;
    width: 112px;
    height: 35px;
    background: #fff;
    border-radius: 7px;
    color: #2f354d;
    text-decoration: none;
    cursor: pointer;
    margin: 30px 10px;
  }
  .nav__section_sidebar .modal .languges .lang__btn.active {
    background: #ff2800;
    color: #fff;
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
  position: relative;
  min-height: 100vh;
  direction: ltr;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

body {
  font-family: "Cairo", sans-serif;
  font-weight: normal;
}
body::-webkit-scrollbar-track, body *::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #f5f5f5;
}
body::-webkit-scrollbar, body *::-webkit-scrollbar {
  width: 6px;
  background-color: #f5f5f5;
}
body::-webkit-scrollbar-thumb, body *::-webkit-scrollbar-thumb {
  background-color: #fff;
}

@media only screen and (max-width : 1440px) {
  :root {
    font-size: 1rem;
  }
}
@media only screen and (max-width : 768px) {
  :root {
    font-size: 0.9rem;
  }
}
.text-yellow {
  color: #2F354D;
}

.text-white {
  color: #fff;
}

.col-gap-1 {
  column-gap: 10px;
}

.col-gap-2 {
  column-gap: 20px;
}

.col-gap-3 {
  column-gap: 30px;
}

.orange-shadow {
  box-shadow: 30px 30px 0 0 #d76142;
}

.dir-rtl {
  direction: rtl !important;
}

.dir-ltr {
  direction: ltr !important;
}

.started {
  font-family: "Cairo";
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url(../../assets/images/header/web_bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  align-items: flex-start;
  padding: 0 100px;
}
.started .content {
  margin-top: 100px;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
}
.started .content_title {
  font-size: 2.2rem;
}
.started .content_desc {
  font-size: 1.1rem;
}
.started .content .get__start {
  padding: 12px 24px;
  text-align: center;
  width: 172px;
  background: #ff2800;
  border-radius: 7px;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  margin: 20px 0;
  display: block;
}
@media (max-width: 991px) {
  .started {
    background-image: url(../../assets/images/header/mobile_bg.png);
    text-align: center;
    padding: 0 20px;
  }
  .started .content {
    align-items: center;
    justify-content: center;
  }
  .started .content .get__start {
    margin: 20px auto;
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
  position: relative;
  min-height: 100vh;
  direction: ltr;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

body {
  font-family: "Cairo", sans-serif;
  font-weight: normal;
}
body::-webkit-scrollbar-track, body *::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #f5f5f5;
}
body::-webkit-scrollbar, body *::-webkit-scrollbar {
  width: 6px;
  background-color: #f5f5f5;
}
body::-webkit-scrollbar-thumb, body *::-webkit-scrollbar-thumb {
  background-color: #fff;
}

@media only screen and (max-width : 1440px) {
  :root {
    font-size: 1rem;
  }
}
@media only screen and (max-width : 768px) {
  :root {
    font-size: 0.9rem;
  }
}
.text-yellow {
  color: #2F354D;
}

.text-white {
  color: #fff;
}

.col-gap-1 {
  column-gap: 10px;
}

.col-gap-2 {
  column-gap: 20px;
}

.col-gap-3 {
  column-gap: 30px;
}

.orange-shadow {
  box-shadow: 30px 30px 0 0 #d76142;
}

.dir-rtl {
  direction: rtl !important;
}

.dir-ltr {
  direction: ltr !important;
}

#find {
  width: 100%;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  background-image: url(../../assets/images/find/find_img.svg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 1rem;
  padding: 50px 100px;
}
@media (max-width: 768px) and (orientation: portrait) {
  #find {
    padding: 0 20px;
    background: #fff;
  }
}

.find__content {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.find__content .find__card {
  min-width: 30%;
}
@media (max-width: 991px) {
  .find__content {
    gap: 0;
    flex-direction: column;
  }
}

.get__start {
  padding: 12px 24px;
  text-align: center;
  width: 172px;
  background: #ff2800;
  border-radius: 7px;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  margin: 20px 0;
  display: block;
  margin: auto;
}
@media (max-width: 991px) {
  .get__start {
    width: 100%;
  }
}

.knowledge {
  width: 60%;
  font-size: 14px;
}
@media (max-width: 768px) and (orientation: portrait) {
  .knowledge {
    width: 90%;
  }
}

.col_parent {
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid #f3f4fe;
  padding: 40px;
  margin-bottom: 1rem;
  min-height: 55vh;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
@media (max-width: 991px) {
  .col_parent {
    padding: 20px;
    min-height: 48vh;
    align-items: center;
    text-align: center;
  }
}

.txt_head {
  font-family: "Cairo";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
  color: #2F354D;
  margin-top: 1rem;
}

.txt_subHead {
  font-family: "Cairo";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140.2%;
  color: #2F354D;
  letter-spacing: 0.3px;
}

@media (max-width: 768px) and (orientation: portrait) {
  .landing__title {
    width: 100%;
    font-size: 2rem !important;
  }
  .landing__title:after {
    left: 46% !important;
  }
}
*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
  position: relative;
  min-height: 100vh;
  direction: ltr;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

body {
  font-family: "Cairo", sans-serif;
  font-weight: normal;
}
body::-webkit-scrollbar-track, body *::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #f5f5f5;
}
body::-webkit-scrollbar, body *::-webkit-scrollbar {
  width: 6px;
  background-color: #f5f5f5;
}
body::-webkit-scrollbar-thumb, body *::-webkit-scrollbar-thumb {
  background-color: #fff;
}

@media only screen and (max-width : 1440px) {
  :root {
    font-size: 1rem;
  }
}
@media only screen and (max-width : 768px) {
  :root {
    font-size: 0.9rem;
  }
}
.text-yellow {
  color: #2F354D;
}

.text-white {
  color: #fff;
}

.col-gap-1 {
  column-gap: 10px;
}

.col-gap-2 {
  column-gap: 20px;
}

.col-gap-3 {
  column-gap: 30px;
}

.orange-shadow {
  box-shadow: 30px 30px 0 0 #d76142;
}

.dir-rtl {
  direction: rtl !important;
}

.dir-ltr {
  direction: ltr !important;
}

.useCases__section {
  width: 100%;
  min-height: 54vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 100px;
  margin-top: 1rem;
  background-image: url(../../assets/images/useCases/useCases.png);
  background-size: cover;
}
.useCases__section .provide_text {
  color: #ff2800;
  font-weight: 600;
}
.useCases__section .useCases__title {
  font-family: "Cairo";
  font-style: normal;
  font-weight: 700;
  font-size: 1.8rem;
  text-align: center;
  color: #2f354d;
  text-transform: none;
  position: relative;
  margin: 40px 0;
}
@media (max-width: 991px) {
  .useCases__section .useCases__title {
    font-size: 1.8rem;
  }
}
.useCases__section .useCases__title:after {
  content: "";
  border-radius: 4px;
  position: absolute;
  width: 30px;
  border: 2px solid #ff2800;
  height: 0;
  bottom: -10px;
  left: 50%;
}
.useCases__section .usecases__img {
  min-width: 50%;
  padding: 0 20px;
}
.useCases__section .useCases__content {
  text-align: left;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
}
.useCases__section .plans__card--list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}
.useCases__section .plans__card--list_item {
  min-width: 50%;
}
.useCases__section .useCases__get__start {
  padding: 12px 24px;
  text-align: center;
  width: 172px;
  background: #ff2800;
  border-radius: 7px;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  margin: 20px 0;
  display: block;
}
.useCases__section .plans__card--list_item {
  align-items: center;
}
@media (max-width: 991px) {
  .useCases__section {
    flex-direction: column;
    padding: 20px;
    align-items: center;
    background-image: none;
  }
  .useCases__section .usecases__img {
    max-width: 70%;
    padding: 20px;
  }
  .useCases__section .provide_text {
    color: #ff2800;
    font-weight: 600;
    text-align: center;
  }
  .useCases__section .useCases__title {
    text-align: center;
    margin: 40px auto;
    width: 100%;
  }
  .useCases__section .useCases__content {
    flex-direction: column;
    padding: 0 10px;
    justify-content: center;
    align-items: center;
  }
  .useCases__section .plans__card--list {
    justify-content: flex-start;
    align-items: center;
  }
  .useCases__section .plans__card--list_item {
    min-width: 40%;
  }
  .useCases__section .useCases__get__start {
    margin: 20px auto;
  }
}

.dialogue {
  font-family: "Cairo";
  margin-top: 24px;
  width: 100%;
  min-height: 60vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 100px;
  background-image: url(../../assets/images/dialogue/dialogue_img.svg);
  background-position: 0;
  background-repeat: no-repeat;
  background-size: 55%;
}
@media (max-width: 991px) {
  .dialogue {
    background-image: url(../../assets/images/dialogue/dialogue_img_mobile.svg);
    background-size: 80%;
    min-height: 65vh;
    padding: 10px 20px 20px;
    background-position: bottom;
    align-items: flex-start;
  }
}
.dialogue .dialogue__content {
  width: 45%;
}
@media (max-width: 991px) {
  .dialogue .dialogue__content {
    width: 100%;
  }
}

.dialogue_icons {
  display: flex;
  justify-content: flex-start;
  gap: 30px;
}
@media (max-width: 991px) {
  .dialogue_icons {
    margin-top: 24px;
    gap: 5px;
    justify-content: center;
  }
  .dialogue_icons img {
    max-height: 25px;
  }
}

.dialogue_title {
  font-family: "Cairo";
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  color: #2f354d;
  margin-bottom: 2rem;
  text-transform: none;
  position: relative;
}
.dialogue_title:after {
  content: "";
  border-radius: 4px;
  position: absolute;
  width: 30px;
  border: 2px solid #ff2800;
  height: 0;
  bottom: -10px;
  left: 0%;
}
@media (max-width: 991px) {
  .dialogue_title:after {
    left: 45%;
  }
}
@media (max-width: 991px) {
  .dialogue_title {
    font-size: 1.4rem;
    text-align: center;
  }
}

.dialogue_desc {
  width: 100%;
}
@media (max-width: 991px) {
  .dialogue_desc {
    width: 100%;
    text-align: center;
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
  position: relative;
  min-height: 100vh;
  direction: ltr;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

body {
  font-family: "Cairo", sans-serif;
  font-weight: normal;
}
body::-webkit-scrollbar-track, body *::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #f5f5f5;
}
body::-webkit-scrollbar, body *::-webkit-scrollbar {
  width: 6px;
  background-color: #f5f5f5;
}
body::-webkit-scrollbar-thumb, body *::-webkit-scrollbar-thumb {
  background-color: #fff;
}

@media only screen and (max-width : 1440px) {
  :root {
    font-size: 1rem;
  }
}
@media only screen and (max-width : 768px) {
  :root {
    font-size: 0.9rem;
  }
}
.text-yellow {
  color: #2F354D;
}

.text-white {
  color: #fff;
}

.col-gap-1 {
  column-gap: 10px;
}

.col-gap-2 {
  column-gap: 20px;
}

.col-gap-3 {
  column-gap: 30px;
}

.orange-shadow {
  box-shadow: 30px 30px 0 0 #d76142;
}

.dir-rtl {
  direction: rtl !important;
}

.dir-ltr {
  direction: ltr !important;
}

.goals {
  font-family: "Cairo";
  width: 100%;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 100px;
  background-image: url(../../assets/images/goals/bg_web.svg);
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: contain;
}
@media (max-width: 991px) {
  .goals {
    min-height: 70vh;
    padding: 10px 20px 0;
    background-size: 100%;
    background-position: bottom;
    background-image: url(../../assets/images/goals/bg_mobile.svg);
    justify-content: flex-start;
  }
}

.goals__icons {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
}
@media (max-width: 991px) {
  .goals__icons {
    margin-top: 24px;
    gap: 5px;
    justify-content: center;
    margin-bottom: 10px;
  }
  .goals__icons img {
    max-height: 25px;
  }
}

.goals_title {
  font-family: "Cairo";
  font-style: normal;
  font-weight: 700;
  font-size: 2.2rem;
  color: #2f354d;
  margin-bottom: 2rem;
  text-transform: none;
  position: relative;
}
.goals_title:after {
  content: "";
  border-radius: 4px;
  position: absolute;
  width: 30px;
  border: 2px solid #ff2800;
  height: 0;
  bottom: -10px;
  left: 0%;
}
@media (max-width: 991px) {
  .goals_title:after {
    left: 45%;
  }
}
@media (max-width: 991px) {
  .goals_title {
    font-size: 1.8rem;
    text-align: center;
  }
}

.goals_desc {
  width: 40%;
}
@media (max-width: 991px) {
  .goals_desc {
    width: 100%;
    text-align: center;
  }
}

.report {
  font-family: "Cairo";
  width: 100%;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 100px;
  background-image: url(../../assets/images/report/bg_web.svg);
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: contain;
}
@media (max-width: 991px) {
  .report {
    background-size: 80%;
    min-height: 65vh;
    padding: 10px 20px 0;
    background-position: bottom;
    background-image: url(../../assets/images/report/bg_mobile.svg);
    justify-content: flex-start;
  }
}

.report__icons {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
}
@media (max-width: 991px) {
  .report__icons {
    gap: 5px;
    justify-content: center;
    margin-bottom: 10px;
  }
  .report__icons img {
    max-height: 25px;
  }
}

.report_title {
  font-family: "Cairo";
  font-style: normal;
  font-weight: 700;
  font-size: 2.2rem;
  color: #2f354d;
  margin-bottom: 2rem;
  text-transform: none;
  position: relative;
}
.report_title:after {
  content: "";
  border-radius: 4px;
  position: absolute;
  width: 30px;
  border: 2px solid #ff2800;
  height: 0;
  bottom: -10px;
  left: 0%;
}
@media (max-width: 991px) {
  .report_title:after {
    left: 45%;
  }
}
@media (max-width: 991px) {
  .report_title {
    font-size: 1.8rem;
    text-align: center;
  }
}

.report_desc {
  width: 40%;
}
@media (max-width: 991px) {
  .report_desc {
    width: 100%;
    text-align: center;
  }
}

.plan {
  font-family: "Cairo";
  background-position: 100% -10%;
  background-size: 20%;
  background-repeat: no-repeat;
  padding: 60px 0;
  background-image: url("../../assets/images/plans-shape.svg");
}
@media (max-width: 991px) {
  .plan {
    padding: 0 0;
  }
}

.plans {
  display: flex;
  justify-content: center;
  gap: 20px;
  direction: ltr;
  margin: 0;
  flex-wrap: wrap;
}
@media (max-width: 991px) {
  .plans {
    flex-direction: column;
    align-items: center;
    margin: 0;
  }
}
@media (max-width: 767px) {
  .plans {
    flex-direction: column;
    align-items: center;
  }
}
.plans * {
  margin: 0;
  padding: 0;
}
.plans__card {
  text-align: left;
  min-height: 100%;
  width: 25%;
  min-width: 25%;
  min-height: 70vh;
  background: #fff;
  color: #2f354d !important;
  border-radius: 16px;
  border: 2px solid rgba(255, 40, 0, 0.1882352941);
  padding: 32px;
  display: flex;
  flex-direction: column;
}
@media (max-width: 991px) {
  .plans__card {
    width: 70%;
    min-width: 70%;
  }
}
@media (max-width: 991px) {
  .plans__card {
    width: 90%;
    min-width: 90%;
  }
}
.plans__card--primary-title {
  font-size: 1.7rem;
  text-transform: none;
  font-weight: 600;
}
.plans__card--second-title {
  font-size: 2.1rem;
  text-transform: none;
  font-weight: 500;
  margin-top: 24px;
}
.plans__card--second-title .price__per {
  font-size: 1rem;
}
.plans__card--second-title.two {
  font-size: 1.3rem;
}
.plans__card--desc {
  font-size: 1rem;
  text-transform: none;
  margin-top: 14px;
  padding: 0;
}
.plans__card--btn {
  border: 1px solid #7a7d8d;
  color: #7a7d8d;
  background-color: #fff;
  outline: none;
  padding: 8px;
  border-radius: 8px;
  width: 100%;
  margin-top: 32px;
  font-weight: 500;
}
.plans__card--list {
  margin-top: 16px;
  list-style: none;
  flex-grow: 1;
}
.plans__card--list_item {
  padding: 4px 0;
  display: flex;
  align-items: flex-start;
}
.plans__card--list_item .icon {
  margin: 8px;
}
.plans__card--list_item small {
  font-size: 1rem;
}
.plans__card--footer {
  margin-top: 16px;
  list-style: none;
  padding-top: 16px;
  margin-top: 32px;
  border-top: 1px solid #2f354d;
}
.plans__card.active {
  background: #ff2800;
  color: #fff !important;
}
.plans__card.active .plans__card--btn {
  border-color: #fff;
  color: #ff2800;
}
.plans__card.active .plans__card--footer {
  border-top: 1px solid #fff;
}

.carousel-dark .carousel-indicators [aria-current] {
  background-color: #ff2800 !important;
  z-index: 1;
}

.about {
  min-height: 60vh;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: url("../../assets/images/about/about-bg.svg");
}
.about p {
  width: 70%;
  margin: 0 auto 20px;
  font-size: 1.1rem;
}
@media (max-width: 991px) {
  .about p {
    font-size: 0.9rem;
  }
}
.about .carousel-indicators {
  margin-bottom: -2%;
  z-index: 1;
}
.about .carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
  color: #000;
  border-radius: 10px;
}
.about .carousel-item {
  padding: 5% 15%;
  text-align: center;
}
.about .carousel-item img {
  border-radius: 20px;
  border: 0;
}
.about .name {
  font-size: 16px;
}
.about .carousel-control-next span:first-child,
.about .carousel-control-prev span:first-child {
  background-color: transparent;
  width: 5px !important;
}
.about .video {
  border-radius: 20px;
  width: 60%;
  height: 450px;
}
@media (max-width: 991px) {
  .about .video {
    border-radius: 5px;
    width: 100%;
    height: 200px;
  }
}
@media (max-width: 991px) {
  .about .arrows {
    width: 20px;
  }
}

.video_title {
  width: 40%;
  margin: auto;
  text-align: center;
}
@media (max-width: 768px) {
  .video_title {
    width: 80%;
  }
}

.participate {
  margin-top: 100px;
  min-height: 60vh;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: url("../../assets/images/participate/participate-bg.svg");
}
.participate p {
  font-size: 1.1rem;
}
@media (max-width: 991px) {
  .participate p {
    font-size: 0.9rem;
  }
}
.participate .carousel-indicators {
  margin-bottom: -2%;
  z-index: 1;
}
.participate .carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
  color: #000;
  border-radius: 10px;
}
.participate .carousel-item {
  padding: 5% 15%;
  text-align: center;
}
.participate .carousel-item img {
  border-radius: 20px;
  border: 0;
}
@media (max-width: 991px) {
  .participate .carousel-item img {
    border-radius: 5px;
  }
}
.participate .name {
  font-size: 16px;
}
.participate .carousel-control-next span:first-child,
.participate .carousel-control-prev span:first-child {
  background-color: transparent;
  width: 5px !important;
}
@media (max-width: 991px) {
  .participate .arrows {
    width: 20px;
  }
}
.participate .btn-danger {
  background-color: #ff2800 !important;
}

.gettoutch {
  min-height: 500px;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: url("../../assets/images/form/form-bg.svg");
}
.gettoutch p {
  font-size: 1.4rem;
}
.gettoutch__form {
  margin: 0 auto;
  width: 25%;
}
@media (max-width: 991px) {
  .gettoutch__form {
    width: 90%;
  }
}
.gettoutch__form .input__group {
  margin-top: 20px;
  min-height: 50px;
  display: flex;
  align-items: center;
  overflow: hidden;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2078431373);
  border-radius: 6px;
}
.gettoutch__form .input__group img {
  height: 25px;
}
.gettoutch__form .input__group input {
  flex-grow: 1;
  height: 100%;
  padding: 10px;
  border: none;
  outline: none;
}
.gettoutch__form .input__group textarea {
  width: 100%;
  border: none;
  outline: none;
  padding: 6px 12px;
}

.border_secion {
  width: 83%;
  margin: 0 auto;
  height: 5vh;
  border-bottom: 2px solid #CDC9BB;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
  position: relative;
  min-height: 100vh;
  direction: ltr;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

body {
  font-family: "Cairo", sans-serif;
  font-weight: normal;
}
body::-webkit-scrollbar-track, body *::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #f5f5f5;
}
body::-webkit-scrollbar, body *::-webkit-scrollbar {
  width: 6px;
  background-color: #f5f5f5;
}
body::-webkit-scrollbar-thumb, body *::-webkit-scrollbar-thumb {
  background-color: #fff;
}

@media only screen and (max-width : 1440px) {
  :root {
    font-size: 1rem;
  }
}
@media only screen and (max-width : 768px) {
  :root {
    font-size: 0.9rem;
  }
}
.text-yellow {
  color: #2F354D;
}

.text-white {
  color: #fff;
}

.col-gap-1 {
  column-gap: 10px;
}

.col-gap-2 {
  column-gap: 20px;
}

.col-gap-3 {
  column-gap: 30px;
}

.orange-shadow {
  box-shadow: 30px 30px 0 0 #d76142;
}

.dir-rtl {
  direction: rtl !important;
}

.dir-ltr {
  direction: ltr !important;
}

.footer {
  min-height: 44vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background: #fff;
  justify-content: center;
  border-top: 1px solid rgba(0, 0, 0, 0.2509803922);
  padding-top: 2%;
}
@media (max-width: 991px) {
  .footer {
    padding-top: 12%;
  }
}
.footer .nav-item a {
  text-decoration: none;
  color: #2f354d;
}

.footer_logo {
  max-width: 155px;
  width: 100%;
  padding-top: 0.5rem;
}

.logo_txt {
  font-family: "Cairo";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #666270;
}

.img_width {
  width: 40px;
  margin-left: 0.7rem;
}

.footer_links {
  position: relative;
}
@media (max-width: 1024px) {
  .footer_links {
    font-size: 0.8rem !important;
  }
}

.footer_links.active::after {
  content: "";
  border-radius: 4px;
  min-width: 30px;
  border-bottom: 3px solid #ff2800;
  border-radius: 4px;
  position: absolute;
  bottom: -3px;
  left: 1%;
}
@media (max-width: 767px) and (orientation: portrait) {
  .footer_links.active::after {
    left: 44.5%;
  }
}

.cust_nav {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  color: #2f354d;
  font-family: "Cairo";
  font-weight: 600;
}
.cust_nav a {
  text-decoration: none;
  color: #2f354d;
}
@media (max-width: 1024px) {
  .cust_nav {
    font-size: 0.8rem;
  }
}
@media (max-width: 992px) {
  .cust_nav img {
    width: 9%;
  }
}

.contact {
  color: #FF2800;
}

.footer_border {
  width: 83%;
  margin: 0 auto;
  height: 10vh;
  border-bottom: 2px solid #cdc9bb;
}

.copy_right p {
  font-family: "Cairo";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  margin-top: 1rem;
  text-align: center;
  color: #666270;
}

@media (max-width: 767px) and (orientation: portrait) {
  .content_flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
.landing__title {
  font-family: "Cairo";
  font-style: normal;
  font-weight: 700;
  font-size: 1.8rem;
  text-align: center;
  color: #2f354d;
  text-transform: none;
  position: relative;
  margin: 40px auto;
}
@media (max-width: 991px) {
  .landing__title {
    font-size: 1rem;
    margin: 24px auto;
  }
}
.landing__title:after {
  content: "";
  border-radius: 4px;
  position: absolute;
  width: 30px;
  border: 2px solid #ff2800;
  height: 0;
  bottom: -10px;
  left: 49%;
}

.landing__desc {
  font-family: "Cairo";
  font-style: normal;
  font-size: 1rem;
  text-align: center;
  color: #2f354d;
  text-transform: none;
}

/*# sourceMappingURL=index.css.map */
