*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
  position: relative;
  min-height: 100vh;
  direction: ltr;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

body {
  font-family: "Cairo", sans-serif;
  font-weight: normal;
}
body::-webkit-scrollbar-track, body *::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #f5f5f5;
}
body::-webkit-scrollbar, body *::-webkit-scrollbar {
  width: 6px;
  background-color: #f5f5f5;
}
body::-webkit-scrollbar-thumb, body *::-webkit-scrollbar-thumb {
  background-color: #fff;
}

@media only screen and (max-width : 1440px) {
  :root {
    font-size: 1rem;
  }
}
@media only screen and (max-width : 768px) {
  :root {
    font-size: 0.9rem;
  }
}
.text-yellow {
  color: #2F354D;
}

.text-white {
  color: #fff;
}

.col-gap-1 {
  column-gap: 10px;
}

.col-gap-2 {
  column-gap: 20px;
}

.col-gap-3 {
  column-gap: 30px;
}

.orange-shadow {
  box-shadow: 30px 30px 0 0 #d76142;
}

.dir-rtl {
  direction: rtl !important;
}

.dir-ltr {
  direction: ltr !important;
}

.useCases__section {
  width: 100%;
  min-height: 54vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 100px;
  margin-top: 1rem;
  background-image: url(../../assets/images/useCases/useCases.png);
  background-size: cover;
}
.useCases__section .provide_text {
  color: #ff2800;
  font-weight: 600;
}
.useCases__section .useCases__title {
  font-family: "Cairo";
  font-style: normal;
  font-weight: 700;
  font-size: 1.8rem;
  text-align: center;
  color: #2f354d;
  text-transform: none;
  position: relative;
  margin: 40px 0;
}
@media (max-width: 991px) {
  .useCases__section .useCases__title {
    font-size: 1.8rem;
  }
}
.useCases__section .useCases__title:after {
  content: "";
  border-radius: 4px;
  position: absolute;
  width: 30px;
  border: 2px solid #ff2800;
  height: 0;
  bottom: -10px;
  left: 50%;
}
.useCases__section .usecases__img {
  min-width: 50%;
  padding: 0 20px;
}
.useCases__section .useCases__content {
  text-align: left;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
}
.useCases__section .plans__card--list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}
.useCases__section .plans__card--list_item {
  min-width: 50%;
}
.useCases__section .useCases__get__start {
  padding: 12px 24px;
  text-align: center;
  width: 172px;
  background: #ff2800;
  border-radius: 7px;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  margin: 20px 0;
  display: block;
}
.useCases__section .plans__card--list_item {
  align-items: center;
}
@media (max-width: 991px) {
  .useCases__section {
    flex-direction: column;
    padding: 20px;
    align-items: center;
    background-image: none;
  }
  .useCases__section .usecases__img {
    max-width: 70%;
    padding: 20px;
  }
  .useCases__section .provide_text {
    color: #ff2800;
    font-weight: 600;
    text-align: center;
  }
  .useCases__section .useCases__title {
    text-align: center;
    margin: 40px auto;
    width: 100%;
  }
  .useCases__section .useCases__content {
    flex-direction: column;
    padding: 0 10px;
    justify-content: center;
    align-items: center;
  }
  .useCases__section .plans__card--list {
    justify-content: flex-start;
    align-items: center;
  }
  .useCases__section .plans__card--list_item {
    min-width: 40%;
  }
  .useCases__section .useCases__get__start {
    margin: 20px auto;
  }
}

/*# sourceMappingURL=useCases-style.css.map */
